# Node dependencies
node_modules/
npm-debug.log*

# Production builds
dist/
build/

# Environment variables & secrets
.env
.env.local
*.podspec.lock
node_modules/
dist/
.env
.aws-sam/

# System Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
